#social #pageF span small{
	color:#A9A9A9;
}
#modal-nuevo-avatar #_iP > #_hob .delete{
	visibility: hidden;
	position: absolute;
	right: 0;
}
#modal-nuevo-avatar #_iP > #_hob .delete i{display: none;}
#modal-nuevo-avatar #_iP > #_hob:hover .delete{
	visibility: inherit;
}